.content{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    -webkit-box-shadow: 6px 6px 26px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 26px -8px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 26px -8px rgba(0,0,0,0.75);
    margin-bottom: 2rem; 
}
.panel, .disclosure_panel{
    padding: 1rem;
    background-color: white;
    color: black;
    border: none;
    font-size: var(--text-2xl);
    
}
.panel{
    font-weight: bold;
    cursor: pointer;
    transition: all ease 0.5s;
}
.panel:hover, [aria-expanded="true"]{
    color: var(--primary-color);
}
.panel:not(:nth-child(1)){
    border-top: solid 1px rgba(0,0,0,0.75);
}
.disclosure_panel{
   
    font-size: var(--text-xl);
}

.tittle{
    font-size: var(--text-4xl);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 2rem;
    text-decoration: underline;
}
@media(max-width:991px){
    .tittle{
        font-size: var(--text-2xl);
    }
    .content{
        width: 95%;
    }
}